pom.xml.versionsBackup
dependency-reduced-pom.xml

.*
!.gitignore
!.mvn
*.iml
.idea
.mvn/wrapper/maven-wrapper.jar
target
dss-demo-webapp/dss-debug.log
dss-demo-webapp/log.out
log.out
allure-results

bin
Vagrantfile
ansible
*.log

# helper script config files
helper-scripts.conf
etc
upload-dir

apache-tomcat-*
site

*.patch
