pom.xml.versionsBackup
dependency-reduced-pom.xml
.*
!.mvn
!.travis.yml
*.iml
.idea
.svn
target
dss-demo-webapp/dss-debug.log
dss-demo-webapp/log.out
log.out

bin
Vagrantfile
ansible
*.log

# helper script config files
helper-scripts.conf
etc

apache-tomcat-*
site

