body {
    padding-top: 5rem;
}

.hide {
    display: none;
}

.validation-result {
    font-size: 1.3em;
}

.validation-result.valid {
    color: green;
}

.validation-result.invalid {
    color: red;
}

.footer {
    font-size: .8em;
    color: #999
}

.icon-alert {
    width: 35px;
    margin: 10px 15px 0 15px;
}

.dz-max-files-reached {
    border-color: #f2dede;
}

.dropzone .dz-message {
    margin: 1em 0;
    min-height: 10%;
    padding-top: 10%;
    background: url("../img/upload-icon.svg") no-repeat top center;
    background-size: 10%;
}