<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <encoder>
            <!--<pattern>%-5level %logger{0}:%L [%thread] - %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %F:%L - %msg%n</pattern>
        </encoder>

    </appender>

    <logger name="org.springframework.core" level="ERROR"/>
	<logger name="org.springframework.beans" level="ERROR"/>
	<logger name="org.springframework.context" level="ERROR"/>
	<logger name="org.springframework.context.support" level="ERROR"/>
	<logger name="org.apache.commons.digester" level="ERROR"/>
    <logger name="org.springframework.web.servlet.resource" level="ERROR"/>
	<logger name="org.springframework.web.servlet" level="ERROR"/>
	<logger name="org.springframework.web.servlet.handler" level="ERROR"/>
    <logger name="org.apache.cxf" level="ERROR"/>

</configuration>
