<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd">

    <import resource="classpath:pdf-validator-webservice.xml"/>
    <import resource="classpath:spring/applicationContext-core.xml"/>

    <context:annotation-config/>
	<context:component-scan base-package="eu.europa.esig.dss"/>

    <context:property-placeholder location="classpath:application.properties"
                                  ignore-unresolvable="true"
                                  ignore-resource-not-found="true" />

    <context:property-override ignore-resource-not-found="true"
                               ignore-unresolvable="true"
                               location="file:${catalina.home}/conf/application-override.properties" />

    <jdbc:initialize-database data-source="dataSource">
        <jdbc:script location="classpath:structure.sql"/>
        <jdbc:script location="classpath:load.sql"/>
    </jdbc:initialize-database>

    <bean id="tlReload" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="trustedListSource"/>
        <property name="targetMethod" value="refresh"/>
        <property name="concurrent" value="false"/>
    </bean>

	<!-- Initial job run -->
    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="tlReload"/>
        <property name="startDelay" value="6000"/>
        <property name="repeatCount" value="0"/>
        <!--<property name="repeatInterval" value="3600000"/>-->
    </bean>
    
    <!-- Run the job every day at 03:00 -->
    <bean id="cronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="tlReload" />
        <property name="cronExpression" value="0 0 3 * * ? *" />
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
          destroy-method="destroy">
        <property name="triggers">
            <list>
                <ref bean="simpleTrigger"/>
                <ref bean="cronTrigger"/>
            </list>
        </property>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list merge="true">
                <value>classpath:i18n/application</value>
                <value>classpath:i18n/policy</value>
            </list>
        </property>
    </bean>

</beans>