extends layout/main-layout
include mixins/footer-mixins

block content
    .row
        .col-md-12
            h1 Upload a digitally signed file
            form#siva-dropzone.dropzone(action="/upload", method="POST", enctype="multipart/form-data")
                .form-group
                    input.hide(type="file", name="file")
    .row.hide#validation-summery
        .col-md-12
            h1 Overall validation result
            p Document&nbsp;
                strong#document-name
                |&nbsp;is&nbsp;
                strong#overall-validation-result.validation-result
    .row.hide#result-area
        .col-md-12
            h1 Validation report
            pre
                code.json#validation-report
    +footerBuildInfo

