extends layout/main-layout

block content
    .row
        .col-md-12
            h1 1. Upload a digitally signed file
            form(action="/upload", method="POST", enctype="multipart/form-data")
                .form-group
                    label Report type
                    select.form-control(name="reportType")
                        for report in reportTypes
                            option(value=report.name())= report.name()
                .form-group
                    input(type="file", name="file")
                .form-group
                    button(type="submit").btn.btn-primary Validate
    .row
        .col-md-12
            h1 2. View validation report
            if validationResult != null
                pre.prettyprint= validationResult
