extends layout/main-layout
include mixins/footer-mixins

block notificationBlock
    #notification.alert.alert-warning.hide(role="alert")
        button.close(type="button", data-dismiss="alert") ×
        strong Warning!&nbsp;
        | Content uploaded to SiVa demo validation service may be visible to third parties.
        | Upload only content that does not contain confidential information.

block content
    .row
        .col-lg-10
            h5 This is a demo interface for testing RIA's digital signature validation service SiVa. The service validates digital signatures made with both test and live components.
            h5 The service does not distinguish test signatures. RIA does not take responsibility for the availability of the interface nor the veracity of the validation result.
            h5: a(href="https://www.ria.ee/en/state-information-system/eid/partners.html") Read more about validation service and digital signature gateway service
        .col-lg-2.d-none.d-lg-block
            img.img-fluid(src="img/eu-logo.svg")
    .row
        .col-md-3
            .input-group
                .input-group-prepend
                    label.input-group-text(for="policy-select") Validation policy
                select.custom-select#policy-select(aria-describedby="policy-addon")
                    option(value="") default
                    option(value="POLv3") POLv3
                    option(value="POLv4") POLv4
        .col-md-3
            .input-group
                .input-group-prepend
                    label.input-group-text(for="report-select") Report type
                select.custom-select#report-select(aria-describedby="report-addon")
                    option(value="") default
                    option(value="Simple") Simple
                    option(value="Detailed") Detailed
                    option(value="Diagnostic") Diagnostic

        .col-md-3
            .input-group
                .input-group-prepend
                    label.input-group-text(for="type-select") Validation type
                select.custom-select#type-select(aria-describedby="type-addon")
                    option(value="") default
                    option(value="Container") Container
                    option(value="Hashcode") Hashcode

        .col-md-3
            .input-group
                .input-group-prepend
                    label.input-group-text(for="return-data-files") Return Data Files
                .input-group-append
                    .input-group-text
                        input#return-data-files(type="checkbox")

    .row.top-buffer
        .col-md-12
            form#siva-dropzone.dropzone(action="upload", style="width: 100%", method="POST", enctype="multipart/form-data")
                input.hide(type="file", name="file")
    .row.hide#validation-summery
        .col-md-12
            h1 Overall validation result
            p Document&nbsp;
                strong#document-name
                |&nbsp;is&nbsp;
                strong#overall-validation-result.validation-result

    .row.hide#validation-warnings
            .col-md-12
                h4 Validation warnings
                ul.validation-warning#validation-warning-rows

    .row.hide#result-area
        .col-md-12
            h1 Validation report
            ul#response-tabs.nav.nav-tabs(role="tablist")
                li.nav-item(role="presentation")
                    a.nav-link.active(href="#json", aria-controls="json", role="tab", data-toggle="tab") JSON
                li.nav-item(role="presentation")
                    a.nav-link(href="#soap", aria-controls="soap", role="tab", data-toggle="tab") SOAP
                li.nav-item(role="presentation")#json-data-files-link
                    a.nav-link(href="#json-data-files", aria-controls="json-data-files", role="tab", data-toggle="tab") JSON Data Files
                li.nav-item(role="presentation")#soap-data-files-link
                    a.nav-link(href="#soap-data-files", aria-controls="soap-data-files", role="tab", data-toggle="tab") SOAP Data Files
            .tab-content
                #json.tab-pane.active(role="tabpanel")
                    pre
                        code.json#validation-report
                #soap.tab-pane(role="tabpanel")
                    pre
                        code.xml#soap-validation-report
                #json-data-files.tab-pane(role="tabpanel")
                    pre
                        code.json#json-data-files-report
                #soap-data-files.tab-pane(role="tabpanel")
                    pre
                        code.xml#soap-data-files-report
    +footerBuildInfo

