html
    head
        title SiVa Demo application
        link(rel="stylesheet", href="/webjars/bootstrap/4.0.0-alpha.2/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/css/custom.css")
        script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
    body
        nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
            a.navbar-brand(href="/") SiVa Sample Application
        .container
            .row
                .col-md-12.col-lg-12
                    block content
