mixin footerBuildInfo
    hr
    .row.footer
        .col-lg-6.float-lg-left.d-none.d-lg-block
            span
                a(href="https://open-eid.github.io/SiVa/", target="_blank") SiVa Documentation&nbsp;
            if buildInfo.github != null
                span Git commit:&nbsp;
                    a(href=buildInfo.github.url, target="_blank")= buildInfo.github.shortHash
                    | &nbsp;by&nbsp;
                span=buildInfo.github.authorName
                span &nbsp;. TravisCI build number:&nbsp;
                    a(href=buildInfo.travisCi.buildUrl, target="_blank")= buildInfo.travisCi.buildNumber
        .col-lg-6.col-md-12.float-lg-right.text-lg-right.text-md-center.footer-icons
            a.footer-social(href="https://www.facebook.com/riigiinfosysteemiamet/", target="_blank")
                img.img-fluid(src="img/social/Facebook.svg", alt="Facebook Riigi Infosüsteemide Amet")
            a.footer-social(href="https://github.com/open-eid/SiVa", target="_blank")
                img.img-fluid(src="img/social/Github.svg", alt="Github SiVa project")
            a.footer-social.d-md-none(href="/")
                img.img-fluid(src="img/eu-logo.svg", alt="EU Supported project Logo")

