.wrapper h4 {
    padding-top: 35px;
}

.wrapper ul li {
    margin-top: 0;
}

.wrapper ul li > ul {
    margin-top: 0;
}

.wrapper dl {
    width: 100%;
    float: left;
    margin: 1em 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
}

.wrapper dl dt {
    clear: left;
    float: left;
    width: 25%;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #ccc;
    font-weight: bold;
}

.wrapper dl dd {
    float: left;
    width: 75%;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #ccc;
}

.development {
    background-color: #FFA726;
}

table {
    width: 94%;
}

.article .data {
    padding: 0 0 1em 0;
    margin: 1.5em 0;
}

.article table th,
.article table td {
    padding: 5px 10px;
}

.article table th p,
.article table td p {
    margin: 0;
}

table td:last-child {
    width: 100%;
}

.eu-logo {
    width: 100%;
}

.eu-logo > img {
    float: right;
    margin: 1.2rem 0 .5rem 1rem;
    height: 10rem;
}
